.card {
  width: 100%;
  // min-height: 400px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px #525151;

  &__wrapper {
    padding: 10px 5px;
  }

  &__header {
    text-align: center;
    display:  flex;
    align-items: center;
    padding: 0.2rem 15px;

    h3 {
      flex-grow: 1;
      margin: 0.5rem;
      text-align: center;
    }

    button {
      background: transparent;
      border-radius: 5px;
      border: solid 2px #607d8b;
    }
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
}