.card {
  width: 100%;
  // min-height: 400px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 1px #525151;

  &__wrapper {
    padding: 10px 5px;
  }

  &__header {
    text-align: center;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
}