.logo{
	display: flex;
	justify-content: center;
	margin-top: 25px;

	svg {
		width: 40%;
		height: auto;
		stroke-width: 2px;
		transition-property: width, fill, stroke;
		transition-duration: 400ms;

	}
	stop {
		transition: all 400ms;
	}

	&--auth {
		svg {
			width: 80px;
		}
		margin-bottom: 0;

		stop:nth-child(1) {
			stop-color: rgba(0,217,222,1);
		}
		stop:nth-child(2) {
			stop-color: rgba(157,80,243,1);
		}
		stop:nth-child(3) {
			stop-color: rgba(249,0,255,1);
		}
	}
}